<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peaceforest.communitymanager.mapper.ConfigurationMapper">
  <resultMap id="BaseResultMap" type="com.peaceforest.communitymanager.entity.Configuration">
    <!--@mbg.generated-->
    <!--@Table configuration-->
    <id column="config_id" jdbcType="VARCHAR" property="configId" />
    <result column="REVISION" jdbcType="INTEGER" property="revision" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="auto_agree" jdbcType="BOOLEAN" property="autoAgree" />
    <result column="allow_register" jdbcType="BOOLEAN" property="allowRegister" />
    <result column="using_this" jdbcType="BOOLEAN" property="usingThis" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    config_id, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, auto_agree, 
    allow_register, using_this
  </sql>
</mapper>