<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peaceforest.communitymanager.mapper.InOutLogMapper">
  <resultMap id="BaseResultMap" type="com.peaceforest.communitymanager.entity.InOutLog">
    <!--@mbg.generated-->
    <!--@Table in_out_log-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="REVISION" jdbcType="INTEGER" property="revision" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="application_id" jdbcType="VARCHAR" property="applicationId" />
    <result column="out_time" jdbcType="TIMESTAMP" property="outTime" />
    <result column="in_time" jdbcType="TIMESTAMP" property="inTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, application_id, 
    out_time, in_time
  </sql>
</mapper>